<form class="bg-light text-center col-md-8" action="/edit/{{toystore._id}}" method="post">
   <div>
      <h1 class="text text-primary">Edit Product</h1>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Name</label>
      <input class="form-control" type="text" name="name" value="{{ toystore.name }}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Category</label>
      <input class="form-control" type="text" name="category" value="{{ toystore.category }}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">age</label>
      <input class="form-control" type="text" name="age" value="{{ toystore.age }}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Price</label>
      <input class="form-control" type="text" name="Price" value="{{ toystore.price }}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Image</label><br>
      <img src="{{ toystore.image }}" width="200" height="200"><br>
      <input class="form-control" type="text" name="image" value="{{ toystore.image }}" required>
   </div>
   <div class="form-group mt-3">
      <input class="btn btn-danger" type="submit" value="Edit">
   </div>
</form>