{{!-- div.col>div.row*2 --}}
<div class="col">
   <div class="row">
      <h1  class="text text-primary text-center">TOY ORDER</h1>
   </div>
   <div class="row">
      <table class="table table-bordered text-center">
         <tr>
            <th colspan="2">
               <img src="{{ toystore.image }}" width="300" height="300">
            </th>
         </tr>
         <tr> 
            <th>Product name</th>
            <th>{{ toystore.name }}</th>
         </tr>
         <tr>
            <th>product price</th>
            <th>${{toystore.price}}</th>
         </tr>
         <tr>
            <th>Order quantity</th>
            <th>{{ order_quantity }}</th>
         </tr>
         <tr>
            <th>Total price</th>
            <th>${{ total_price }}</th>
         </tr>
         <tr class="text-center">
            <th colspan="2">
               <a style="color: yellow;" class="btn btn-danger" href="/shoppingnow">Confirm</a>
            </th>
         </tr>
      </table>
   </div>
</div>
